<section id="imagesCarousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/firstModalImage.jpg" class="d-block w-100" alt="..." class="carouselImage">
                <div class="carousel-caption text-start">
                    <h1><span class="brandHighlight">E</span>co<span class="brandHighlight">V</span>ille</h1>
                    <p>Reduce, Reuse, Recycle with your neighbors</p>
                    <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/secondModalImage.jpg" class="d-block w-100" alt="..." class="carouselImage">
                <div class="carousel-caption">
                    <h1>Reduce Environmental Pollution</h1>
                    <p>EcoVille provides the perfect platform for communities to unite against waste</p>
                    <p><a class="btn btn-lg btn-success" href="#">Learn more</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/thirdModalImage.jpg" class="d-block w-100" alt="..." class="carouselImage">
                <div class="carousel-caption">
                    <h1>One man's trash is another man's treasure</h1>
                    <p>EcoVille allows neighbors to reduce waste through repurposing goods.</p>
                    <p><a class="btn btn-lg btn-success" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>