<div class="modal fade" id="itemDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemDetailsModalTitle">Item Details</h5>
                <button type="button" class="btn-close" id="itemDetailsModalClose" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body itemDetailsModalBody">
                <div class = "itemImageDiv">
                    <img src="/static/cargoShorts.jpg" id = "itemDetailImage">
                </div>
                <div class = "itemDetailsDiv">
                    <div>
                        <label>Title</label>
                        <p class = "itemDetail" id = "itemDetailTitle"></p>
                    </div>
                    <div>
                        <label>Description</label>
                        <p class = "itemDetail" id = "itemDetailDescription"></p>
                    </div>
                    <div>
                        <label>Contact User</label>   
                        <p class = "itemDetail" id = "itemDetailEmail"></p>
                        <p class = "itemDetail" id = "itemDetailAddress"></p>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>