body {
    font-family: 'Montserrat', sans-serif;
}

#navbarText {
    font-size: 1.25em;
}
#secondLogo {
    margin-right: 1em;
}
.nav-link {
    color: darkgrey !important;
}
.active {
    color: white !important;
}
.nav-link:hover {
    color: white !important;
}

#donateButton {
    border: 1px solid white;
    border-radius: 10px;

    background-color: white;

    padding: 0.15em 1em;
    margin: 0em 0.5em;
}
#donateButton:hover {
    text-decoration: underline;
}

#headingContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: space-evenly;
    align-items: center;

    padding: 1em 2em;
}
#mainLogo {
    width: 85%;
}
#headingText {
    color: #198754;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#title {
    line-height: 2;
    font-weight: 600;
}
#description {
    color: #CC3F0C;
    font-style: italic;
}

.items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin: 1em;
}
.item-image {
    width: 10em;
    object-fit: contain;

    margin: auto;

    padding: 1em;
    margin-bottom: 5em;
}



@media only screen and (max-width: 991px) {

    #headingContainer {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
    #authButtonsContainer, #donateButton {
        display: block !important;

        margin: 1em 0em;
    }
  }
