.card {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;

  margin-bottom: 1em;
  padding: 1em;

  width: 95% !important;
  max-width: 300px;

  border-color: $primary-color;
  border-width: 2px;

  .card-body {
    width: 100%;
    text-align: center;
  }

  .btn {
    width: 80% !important;
  }

  .itemImage {
    width: 10em;
    height: 15em;
    object-fit: cover;

    margin: auto;
  }

  .selfCard {
    align-items: initial;
    flex-direction: row !important;
    justify-content: center !important;
    margin: auto;
  }

  .selfItemImage {
    @extend .itemImage;
    
    width: 5em;
    height: 7.5em;
  }
}
