nav {
  a {
    color: white !important;

    &:hover {
      color: $primary-color !important;
    }
  }

  .dropdown-menu {
    background-color: $secondary-color !important;
  }

  .dropdown-item:hover {
    background-color: $primary-color !important;
    color: white !important;
  }

  button:not(#navDonateButton):not(#navLoginButton) {
    border: none;
    margin: 0px 5px;
  }

  #profileIconButton,
  #bagIconButton {
    background-color: $secondary-color !important;
    color: $primary-color;
  }

  .footerA {
    font-size: 1rem;
    margin: auto;

    &:hover {
      color: $primary-color !important;
    }
  }

  .custom-toggler.navbar-toggler {
    border-color: white !important;

    .navbar-toggler-icon {
      @include hamburgerImage;
    }
}

}
