.navbar,
.dropdown-item,
.dropdown-menu,
#profileIconButton,
#bagIconButton {
  background-color: #212529 !important;
}
.navbar .navbar-brand,
.navbar .nav-item .nav-link,
.navbar .dropdown-item,
.dropdown-item .navbar-brand,
.dropdown-item .nav-item .nav-link,
.dropdown-item .dropdown-item,
.dropdown-menu .navbar-brand,
.dropdown-menu .nav-item .nav-link,
.dropdown-menu .dropdown-item,
#profileIconButton .navbar-brand,
#profileIconButton .nav-item .nav-link,
#profileIconButton .dropdown-item,
#bagIconButton .navbar-brand,
#bagIconButton .nav-item .nav-link,
#bagIconButton .dropdown-item {
  color: white !important;
}
.navbar .navbar-brand:hover,
.navbar .nav-item .nav-link:hover,
.navbar .dropdown-item:hover,
.dropdown-item .navbar-brand:hover,
.dropdown-item .nav-item .nav-link:hover,
.dropdown-item .dropdown-item:hover,
.dropdown-menu .navbar-brand:hover,
.dropdown-menu .nav-item .nav-link:hover,
.dropdown-menu .dropdown-item:hover,
#profileIconButton .navbar-brand:hover,
#profileIconButton .nav-item .nav-link:hover,
#profileIconButton .dropdown-item:hover,
#bagIconButton .navbar-brand:hover,
#bagIconButton .nav-item .nav-link:hover,
#bagIconButton .dropdown-item:hover {
  color: #198754 !important;
}
.navbar #profileIconButton,
.navbar #bagIconButton,
.dropdown-item #profileIconButton,
.dropdown-item #bagIconButton,
.dropdown-menu #profileIconButton,
.dropdown-menu #bagIconButton,
#profileIconButton #profileIconButton,
#profileIconButton #bagIconButton,
#bagIconButton #profileIconButton,
#bagIconButton #bagIconButton {
  border: none;
  margin-left: 10px;
}
.navbar .custom-toggler.navbar-toggler,
.dropdown-item .custom-toggler.navbar-toggler,
.dropdown-menu .custom-toggler.navbar-toggler,
#profileIconButton .custom-toggler.navbar-toggler,
#bagIconButton .custom-toggler.navbar-toggler {
  border-color: white;
}
.navbar .custom-toggler .navbar-toggler-icon,
.dropdown-item .custom-toggler .navbar-toggler-icon,
.dropdown-menu .custom-toggler .navbar-toggler-icon,
#profileIconButton .custom-toggler .navbar-toggler-icon,
#bagIconButton .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar #footerA,
.dropdown-item #footerA,
.dropdown-menu #footerA,
#profileIconButton #footerA,
#bagIconButton #footerA {
  font-size: 1rem;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
}

.carousel-inner .carousel-item {
  max-height: 500px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form div {
  display: grid;
  grid-template-columns: 2;
  margin: 0.75em 0em;
}
.form div label {
  font-weight: bold;
}
.form div textarea {
  width: 100%;
}
.form .accordion-body {
  padding: 10px !important;
}
.form .accordion-body .categories {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-content: space-around;
}
.form .accordion-body .categories .form-check {
  display: flex !important;
}
.form .accordion-body .categories .form-check .form-check-label {
  font-weight: normal;
  margin-left: 5px;
}

.featured {
  margin: auto;
  width: 90%;
  max-width: 1800px;
}
.featured .featuredCategory {
  display: flex;
  flex-direction: column;
  margin: 3em 0em;
  padding: 1em;
  box-shadow: 0px 0px 5px 5px #e4e4e4;
}
.featured .featuredCategory .featuredTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1em;
  color: #198754;
}
.featured .featuredCategory .featuredCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  width: 95% !important;
  max-width: 300px;
  border-color: var(--green-color);
  border-width: 2px;
}
.card .card-body {
  text-align: center;
}
.card .itemImage {
  width: 10em;
  height: 15em;
  object-fit: cover;
  margin: auto;
}

.arrowDiv {
  display: none;
  align-items: center;
  order: 999;
}

@media only screen and (max-width: 511px) {
  .categories {
    grid-template-columns: auto auto;
  }
}

/*# sourceMappingURL=styles.css.map */
