$primary-color: #198754;
$secondary-color: #212529;

.navbar,
.dropdown-item,
.dropdown-menu,
#profileIconButton,
#bagIconButton {
  background-color: $secondary-color !important;

  .navbar-brand,
  .nav-item .nav-link,
  .dropdown-item {
    color: white !important;

    &:hover {
      color: $primary-color !important;
    }
  }

  #profileIconButton,
  #bagIconButton {
    border: none;
    margin-left: 10px;
  }

  .custom-toggler.navbar-toggler {
    border-color: white;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  #footerA {
    font-size: 1rem;
    margin: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.carousel-inner .carousel-item {
  max-height: 500px;
}

.form {
  display: flex;
  flex-direction: column;

  div {
    display: grid;
    grid-template-columns: 2;
    margin: 0.75em 0em;

    textarea {
      width: 100%;
    }
  }

  .accordion-body {
    .categories {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-evenly;
      align-content: space-around;

      .form-check {
        display: flex !important;

        .form-check-label {
          font-weight: normal;
          margin-left: 5px;
        }
      }
    }
  }
}

.featured {
  margin: auto;
  width: 90%;
  max-width: 1800px;

  .featuredCategory {
    display: flex;
    flex-direction: column;

    margin: 3em 0em;
    padding: 1em;

    box-shadow: 0px 0px 5px 5px rgb(228, 228, 228);

    .featuredTitle {
      font-size: 1.5rem;
      font-weight: bold;

      margin-bottom: 1em;

      color: $primary-color;
    }

    .featuredCards {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}

.card {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;

  margin-bottom: 1em;
  padding: 1em;

  width: 95% !important;
  max-width: 300px;

  border-color: $primary-color;
  border-width: 2px;

  .card-body {
    text-align: center;
  }

  .itemImage {
    width: 10em;
    height: 15em;
    object-fit: cover;

    margin: auto;
  }

  .selfCard {
    align-items: initial;
    flex-direction: row !important;
    justify-content: center !important;
    margin: auto;
  }
  .selfItemImage {
    width: 5em;
    height: 7.5em;
    object-fit: cover;
  }
}

.arrowDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 999;

  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 511px) {
  .categories {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 1368px) {
  .arrowDiv {
    justify-content: center;
  }
}
